.hey-content h1{
    background: linear-gradient(to right, #ee274f, #62c0e3 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hey-content p{
    background:  linear-gradient(to right, #ee274f, #62c0e3 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;  

}
.about-me-caption,
.section-p{
  font-weight: 300;
}
.about-me-caption strong{
  color: #ee274f;
}
.find-me{
  color: #ccc;
}
.list-social-links li{
    display: inline-block;
    margin: 10px 50px 10px 0;
}
.btn-main{
  background-color: #ee274f;
  border: 1px solid #ee274f;
  color: #fff;
  border-radius: 56px;
  font-weight: 400;
}
.btn-main:hover{
  color: #ee274f;
  background-color: #fff;
}
.btn-outline-primary{
  border-radius: 56px;
}
@media (max-width: 992px){
  .devloper-img{
    max-width: 80%;
    margin: 20px auto;
    display: block;
  }
}
